.nav-item {
    position: relative;
    text-align: center;
    overflow: hidden;
}


body {
    background-image: url('LighterNarwhal.jpg');
    background-attachment: fixed;
    background-size: cover;
}

  p {
   color: black;
   border-style: solid;
   font-family: Arial, Helvetica, sans-serif;
 background-color: powderblue;
  font-size: large;
}

footer {
      text-align: center;
      margin: auto;
      padding: 10px;
      height: 25%;
      width: 25%;
  }

/* Wave Animation */
body {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: 5s;
}

@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0%;
  }
}

  